@import url("https://fonts.googleapis.com/css?family=Poppins:400,700");
*{font-family: Poppins, sans-serif};

h1{
    font-weight: bold;
    color: white;
}



@media only screen and (max-width: 656px) {
    .jumbotron {max-height: 300px;};
}

@media only screen and (max-width: 400px) {
    .jumbotron {max-height: 200px;};
}

.jumbotron{
    height: 650px;
    background-image: url(football.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}



#leagueBtns{
    margin: 3rem;
}

button img{
    max-width: 100px;
    max-height: 100px;
}


th{
    background-color: darkorange;
    font-weight: bold;
}



/* @media only screen and (min-width: 856px) {
    img {
        max-width: 60px;
        max-height: 60px;
        background-color: none;
    }
  }; */

  
.leagueBtn{
    width: 130px;
    height: 130px;
    margin: 0 auto;
    background-color: white;
}

.leagueTable {
    border-radius: 5px;
    margin: 0 auto;
    float: none;
}



.btn-lg{
    margin: 10px;
}


@media only screen and (max-width: 600px) {
    .table {
      padding: 0;
      margin: 0 auto;
      font-size: 0.8rem;
    }
  };
