/* Universal styles */
*{
    font-family: 'Miriam Libre', sans-serif;
}

/* Resize image of Issac */
.card-img-top{
    max-height: 500px;
    max-width: 300px;
}

/* This is the class I will apply to landing area of page when user clicks to begin quiz */
.hide{
    display: none;
}

.quiz{
    display: none;
}

