#jumbo {
    background-image: url('football.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: bottom;
}

.img-is-center {
    margin: 0 auto;
    text-align: center;
    width: 80%;
    height: 1%;
}

#headingTitles {
    margin-bottom: 30px;
}

img {
    max-height: 100px;
    max-width: 100px;
}

.leagueBtn {
    border: none;
    background-color: none;
}

.leagueBtn:focus {
    outline: none;
}

.tabBtn {
    margin: 10px;
}

@media only screen and (max-width: 540px) {
    .colRm {
        display: none;
    }
}

@media only screen and (max-width: 400px) {
    .wldColRm {
        display: none;
    }
}

#team {
    display: none;
}

;